build
dist / media
node_modules
.DS_Store
.env
.next
.vercel

# Payload default media upload directory
public/media/

# Import script images (ไม่ขึ้น git)
scripts/images/
scripts/products.csv

public/robots.txt
public/sitemap*.xml
